# # .DS_Store
# # Latex/.DS_Store
# # Latex/output/
# # # !Latex/output/cv.pdf
# # Latex/.DS_Store
# # Latex/ouput/cv.synctex.gz
# /Latex/output
# # Latex/ouput/cv.aux
# # Latex/ouput/cv.fls
# # Latex/ouput/cv.synctex.gz
/.*